/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-display: swap; 
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jaldi-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/jaldi-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

@font-face {
    font-display: swap; 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* itim-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/itim-v10-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/itim-v10-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: url(../img/background.png) no-repeat;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* header starts */
.header {
    top: 0;
    left: 0;
    width: 100%;
}
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 32px;
}

.header-logo img {
    width: 176px;
    height: 68px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item {
    margin-right: 82px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    font-family: Jaldi;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 51px;
    color: #000000;
    text-decoration: none;
}

.header-link:hover, .header-link:focus, .header-link:active {
    opacity: 75%;
    color: #3596E2;
    
}

/* header ends */

/* intro starts */
.intro {
    height: 200px; 
    margin-top: 120px; 
    position: relative;
    text-align: center;
}

.intro-logo img {
    width: 370px;
    height: 133px;
}

.intro-title {
    font-family: Itim;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    color: #8E8E8E;
    position: absolute;
    margin-left: 410px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    
}

/* intro ends */

/* sale starts */
.sale {
    height: 400px;
    margin-top: 120px;
    position: relative;
}

.sale h2 {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 45px;
}

.sale-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 190px;
    text-align: center;   
}

.sale-cards img {
    width: 205px;
    height: 225px;
    padding: 15px 30px 15px 30px;
    background: #f6f6f6; 
    border: 1px solid #d9d9d9;         
}

.sale-cards figcaption {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 30px; 
    text-align: center;  
    margin-bottom: 10px;  
}
/* sale ends */

/* release starts */
.release {
    margin-top: 120px;
    position: relative;
}
.release h2 {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 45px;   
}

.release-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 40px;
    text-align: center; 
}

.release-cards img {
    width: 205px;
    height: 225px;
    padding: 15px 30px 15px 30px;
    background: #f6f6f6; 
    border: 1px solid #d9d9d9;
}

.release-cards a {
    text-decoration: none;
    color: #000000;
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;

} 

.release-cards a:hover, .release-card a:focus, .release-card a:active {
    opacity: 75%;
    color: #3596E2;
}
/* release ends */

/* about starts */

.about {
    margin-top: 120px;
    position: relative;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 27px;
    align-items: center;
}

.about-logo img {
    width: 544px;
    height: 448px;
}

.about-info h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 85px;
    padding-right: 85px;
}

.about-info p {
    font-family: Lato;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #555555;
    text-align: justify; 
}

/* about ends */

/* shops stars */
.shops {
    margin-top: 120px;
    position: relative;
}

.shops h2 {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 45px;
}

.shops-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 120px;
    align-items: left;
}

.shops-wrapper img {
    width: 544px;
    height: 443px;
}

.shops-list {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 55px;   
}

.shops-list a {
    text-decoration: none;
    line-height: 45px;
}

.shops-item {
    color: #000000;
    background-image: url(../img/metka.png);
    background-repeat: no-repeat;
    background-position: left; 
    padding-left: 30px; 
}

.shops-item:hover, .shops-item:focus, .shops-item:active {
    opacity: 75%;
    color: #3596E2;
}
/* shop ends */

/*===========================CATALOG====================*/

/* search-bar starts */
.catalog {
    margin-top: 120px;
    position: relative;
}

.catalog h2 {
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.search-bar {
    position: relative;
    margin-top: 60px;
    background: rgba(231, 231, 231, 0.8);
    width: 800px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.search-bar form input {
    width: 700px;
    height: 35px;
    background: rgba(231, 231, 231, 0.8);
    border: none; 
    color: #535353;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.search-bar form button {
    width: 85px;
    height: 35px;
    background: rgba(231, 231, 231, 0.8);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;

}
/* search-bar ends */

/* content starts */

.content {
    margin-top: 120px;
    position: relative;
}

.content h2 {
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 45px;
}

.content-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 40px;
    text-align: left;
}

.content-cards img {
    width: 205px;
    height: 225px;
    padding: 15px 30px 15px 30px;
    background: #f6f6f6; 
    border: 1px solid #d9d9d9;
}

.content-cards a {
    text-decoration: none;  
}

.content-cards a:hover, .content-card a:focus, .content-card a:active {
    opacity: 75%;
    color: #3596E2;
}

.name {
    font-family: Lato;
    font-style: normal;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px; 
}

.author {
    font-family: Lato;
    font-style: normal;
    color: #8e8e8e;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.price {
    font-family: Lato;
    font-style: normal;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px; 
}

/* content ends */

/* =======================================BOOK DESCRIPTION=============================*/

/* book cover starts */

.book-cover {
    margin-top: 140px;
}

.cover-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: -80px;
    align-items: left;


}

.book-cover-img  img {
    width: 300px;
    height: 400px;
}

.cover-info h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;   
}

.cover-info h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #3f3f3f;
}

.cover-info p {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 17px;
}

.available {
    color: #8BC34A;
    padding-top: 69px;
    background-image: url(../img/tip.png);
    background-repeat: no-repeat;
    background-position: left bottom; 
    padding-left: 40px;   
}

.add {
    width: 138px;
    height: 30px;
    background: rgba(118, 80, 220, 0.32);
    border-radius: 30px;
    border: none;
    margin-top: 35px;
    cursor: pointer;
}

.wishlist {
    width: 165px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #AF9AE7;
    cursor: pointer;
}

/* book cover ends */

/* details starts */
.details {
    margin-top: 40px;
    position: relative;
}

.details h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.details-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin-top: 30px;
}
 .list {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
 }

 .list-item {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
 }

/* detail ends */

/* description starts */
.description {
    margin-top: 50px;
    position: relative;
}

.description h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
}

.description p {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}
/* description ends */

/* =======================================BAG====================================*/
.bag-title {
    margin-top: 120px;
    margin-bottom: 45px;
    position: relative;
}

.bag-title h2 {
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

/* filling starts */

.filling-wrapper {
     display: grid;
     grid-template-columns: 180px 400px 300px auto;
     width: 950px;
     height: 250px;
     border-bottom: 2px solid #d9d9d9;
     margin-bottom: 30px;
     
     
}

.filling-pic {
    text-align: center;
}
.filling-pic-thumb {
    width: 170px;
    height: 220px;   
}

.filling-desc {
    padding-left: 50px;
}

.filling-desc-name {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.filling-desc-author {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #3f3f3f;
}

.filling-desc-price {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 17px;
}
.filling-button {
    padding-left: 30px;
    padding-top: 180px;
    
    
}

.checkout {
    width: 180px;
    height: 45px;
    background: rgba(36, 146, 255, 0.64);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    
}

.checkout p {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

.filling-bookmark {
    padding-top: 180px;
}

.bookmark-thumb {
    cursor: pointer;
}



/* filling ends */






